@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-kaprodi{
	background-image: url("http://localhost/MonitoringUjian/assets/images/dosen1.jpg");
	background-position: center;
}
.bg-dosen{
	background-image: url("http://localhost/MonitoringUjian/assets/images/mahasiswa1.jpg");
	background-position: center;
}
.bg-admin{
	background-image: url("http://localhost/MonitoringUjian/assets/images/admin.jpg");
	background-position: center;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
h2{
	color: white;
}
label{
	color: white;
}
h2#adm{
	color: #92e330;
	font-family: monospace;
}
label#adm{
	color: #d6d6d6;
	font-family: monospace;
}
.panelLogin{
	background-color: #C93737;
	opacity: 0.95;
	padding: 20px;
	width: 400px;
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
}
.login{
	width: 100px;
}
.login-adm{
	width: 95px;
	height: 95px;
}
.register{
	width: 100px;
}




